{* login control view *}
<div class="shell">
	<div class="shell-header">{$title}</div>
		<div class="shell-content">
		{if !isset($data)}
			{control logInForm}
		{else}
			<img src="{$basePath}/image/design/ico/people/{$date['gender']}.png" class="user-thumbnail"/>

			<a href="{plink ':Admin:User:detail'}">{$data['name']} {$data['surname']}</a>
			<form action="{plink ':Admin:Homepage:logOut'}">
				<input type="submit" value="Odhlásit" class="button"/>
			</form>
		{/if}
		</div>
</div>

