<div class="shell">
	<div class="shell-header">{$title}</div>
	<div class="shell-content" id="wall">
	{if $data !== NULL}
		{foreach $data as $d}
			<div class="wall-post">
				<div class="wall-post-content">
					<strong>{$d->section_title}</strong> <h2>{$d->article_title}</h2>
					<p>{$d->article_content|truncate:500}<a href="{link :Admin:Default:show $d->article_id}" title="">&raquo;více</a></p>
				</div>
			</div>
		{/foreach}
	{/if}
	</div>
</div>