{block #title}
Správa obsahu
{/block}

{block #left}	
{/block}

{block #content}
<div class="home-art-container">
<div class="article-thumbnail"><a href="{plink :Admin:Article:addArticle}"><h3 class="heading">Přidat článek</h3></a>
	
    </div>
    <div class="home-art-container">
	<div class="data-grid">
	    {control articlesGrid}
	</div>
    </div>
</div>