
{var $robots => index, follow}

{block title}
	Galerie 
{/block}

{block head}

{/block}

{block #left}
{/block}

{block content}
<div class="home-art-container">
		Připravuje se... 
</div>



