/* Article:default */
	div.article-thumbnail {
		background: rgba(255,255,255,.9);
		/*border-radius: 5px 5px 0 0;*/
		border: 1px solid grey;	
		margin: 5px 0;
	}
	
	div.article-thumbnail h2 {
		margin: 0;
		font-size: 1.1em;
		padding: 5px 20px;
		background: rgba(223,223,223,.5);
		font-weight: bold;
		/*border: 1px grey;
		border-style: none none solid none;*/
	}
	
	div.article-thumbnail p {
		text-indent: 1em;
		font-size: .9em;
		padding: 0 10px 10px;
		margin-top: 5px;
	}
	
	div.article-thumbnail img {
		height: 90px;
		width: 140px;
		border: 1px grey;
		/*border-style: solid;*/
		float: left;
		margin-right: 15px;
		margin: 10px;
	}

	div.article-thumbnail-content {}
	
	/* Article:show */
	
	div.article-detail {
		background: #fff;
		/*border-radius: 5px 5px 0 0;*/
		border: 1px solid grey;
		min-height: 170px;
		
	}
	
	div.article-detail p {
		text-indent: 2em;
		padding: 10px;
	}
	
	div.article-detail h2 {
		padding: 0 20px;
		line-height: 1.8em;
		background: rgba(223,223,223,.7);
	}
	
	img.article-detail-picture  {
		width: 150px;
		height: 150px;
		margin: 10px;
		/*border: 1px solid black;*/
		float: left;
	}
	
	/* sidebar info */
	div#article-info.shell-content {
		
		font-size: 11px;
		text-align: left;
		padding: 10px;
	}
	
	div.article-detail form {
		margin: 10px;
	}
	
	div.article-detail fieldset legend img {
		font-size: .9em;
		width: 25px;
	}
	
	div.article-detail fieldset a {
		font-size: 1.1em;
		padding-top: 5px;
		line-height: 28px;
	}
	
	div.article-detail fieldset a img {
		width: 25px;
		display: block;
		float: left;
	}