/* Contact:default */
	
	div.contact {
		background: #fff;
		border: 1px solid grey;
	}
	
	div.contanct span {
		
		font-weight: bold;
		
	}
	
	.bold {
		font-weight: bold;
	}
	
	div.contact table {
		
		margin: 10px;
	}
	
	div.contact h2 {
		background: rgba(223,223,223,.7);
		padding: 10px;
		
	}
	
	div.contact a img {
		display: block;
		float: left;
		margin-right: 5px;
	}