
/* FOOTER SECTION */

div#footer-stripe.scheme {
    margin: 0;
    background: url('../image/design/footer-people.png') repeat-x;
    height: 134px;
    min-width: 100%;
}

div#footer-rest.scheme {
    background: #484848;
    min-width: 100%;

}

div#footer-content.scheme {
    font-size: .8em;
    color: #111;
    text-shadow: 0px 3px 2px #505767;
    font-weight: bold;
    height: 1.8em;
    text-align: center;
}