/* Link:default */

div.links {
    border: 1px solid grey;
    background: #fff;
    padding: 0 0 10px;
}

div.links a {
    margin: 0 10px;
}

div.scheme {
    width: 960px;
    margin: auto;
}

div.links h2 {
    background: rgba(223,223,223,.7);
    padding: 10px;
}